/.venv/
/spustit_powershell.lnk
data/
.ipynb_checkpoints/
__pycache__/
# Prilis velke pro gitlab
ANALYZA\ DAT\ MERENI\ SME\ z\ ISTP/
RSV_vypis_vozidel_20251101.csv
reporty/
/catboost_info/
model.bin
node_modules
graphs
nosync
*old
/misc/**
.~lock*
.env
poznamky
prezentace