# Port pro webové rozhraní (vyžadováno docker-compose)
WEB_PORT=3000

# Konfigurace výkonu backendu (stahování a zpracování otevřených dat)
NO_DOWNLOAD_THREADS=30
NO_EXTRACT_THREADS=15
NO_PARSE_PROCESSES=4
MAX_DOWNLOAD_ATTEMPTS=10

# Volitelné omezení intervalu pro stahování dat
START_DATE=01-01-2019
# END_DATE=31-12-2025

# Intervaly mezi aktualizacemi webu
UPDATE_INTERVAL_DAYS=30